select{
  width:100%;
  padding:15px;
  margin-bottom:20px;
  border:1px solid #ccc;
  border-radius:8px;
}
.spice-options{
  text-align:left;
  margin-bottom:20px;
}

.spice-options label{
  display:block;
  margin-bottom:10px;
  font-size:18px;
}

.product-order{
  margin-bottom:25px;
  text-align:left;
}

.product-order h3{
  margin-bottom:10px;
  color:#8b4513;
}
.contact-form{
  max-width:600px;
  margin:auto;
}

.contact-form input,
.contact-form textarea{
  width:100%;
  padding:15px;
  margin-bottom:20px;
  border:1px solid #ccc;
  border-radius:8px;
}

.contact-form button{
  width:100%;
}
